{
    (
        modifiers: [
            Super,
            Shift,
        ],
        key: "s",
    ): System(Screenshot),
    (
        modifiers: [
            Super,
        ],
        key: "w",
    ): System(WebBrowser),
    (
        modifiers: [
            Super,
        ],
        key: "Return",
    ): System(Terminal),
    (
        modifiers: [
            Super,
        ],
        key: "b",
    ): System(WorkspaceOverview),
    (
        modifiers: [
            Super,
        ],
        key: "t",
    ): Disable,
}
