(
    palette: Dark((
        name: "Catpuccin-Macchiato-Lavender",
        bright_red: "#ED8796FF",
        bright_green: "#A6DA95FF",
        bright_orange: "#F5A97FFF",
        gray_1: "#1E2030FF",
        gray_2: "#24273AFF",
        neutral_0: "#181926FF",
        neutral_1: "#1E2030FF",
        neutral_2: "#24273AFF",
        neutral_3: "#363A4FFF",
        neutral_4: "#494D64FF",
        neutral_5: "#5B6078FF",
        neutral_6: "#6E738DFF",
        neutral_7: "#8087A2FF",
        neutral_8: "#939AB7FF",
        neutral_9: "#A5ADCBFF",
        neutral_10: "#B8C0E0FF",
        accent_blue: "#8AADF4FF",
        accent_indigo: "#C6A0F6FF",
        accent_purple: "#B7BDF8FF",
        accent_pink: "#F5BDE6FF",
        accent_red: "#ED8796FF",
        accent_orange: "#F5A97FFF",
        accent_yellow: "#EED49FFF",
        accent_green: "#A6DA95FF",
        accent_warm_grey: "#939AB7FF",
        ext_warm_grey: "#939AB7FF",
        ext_orange: "#F5A97FFF",
        ext_yellow: "#EED49FFF",
        ext_blue: "#8AADF4FF",
        ext_purple: "#B7BDF8FF",
        ext_pink: "#F5BDE6FF",
        ext_indigo: "#C6A0F6FF",
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    neutral_tint: Some("#5B6078FF"),
    bg_color: Some("#24273AFF"),
    primary_container_bg: Some("#363A4FFF"),
    secondary_container_bg: Some("#494D64FF"),
    text_tint: Some("#FFFFFFFF"),
    accent: Some("#B7BDF8FF"),
    success: Some("#A6DA95FF"),
    warning: Some("#EED49FFF"),
    destructive: Some("#ED8796FF"),
    frosted: VeryLow,
    gaps: (0, 8),
    active_hint: 3,
    window_hint: Some("#B7BDF8FF"),
    frosted_windows: true,
    frosted_system_interface: true,
    frosted_panel: true,
    frosted_applets: true,
    alpha_map: (
        extremely_low: 0.47999996,
        extremely_low_2: 0.45691997,
        very_low: 0.43385,
        very_low_2: 0.41076,
        low: 0.38769,
        low_2: 0.36460996,
        medium: 0.34153998,
        medium_2: 0.31846,
        high: 0.29538,
        high_2: 0.27230996,
        very_high: 0.24022996,
        very_high_2: 0.22614998,
        extremely_high: 0.20308,
        extremely_high_2: 0.18,
    ),
)